<?xml version="1.0"?>
    <robot name="mimic_slave" xmlns:xacro="http://ros.org/wiki/xacro">
        <xacro:property name="prefix" value="" />

        <xacro:include filename="gantry_macro.xacro"/>
        <xacro:gantry  prefix="${prefix}"/>
        <xacro:include filename="$(find kuka_kr16_support)/urdf/kr16_2_macro.xacro"/>
        <xacro:kuka_kr16_2  prefix="${prefix}"/>

        <link name="${prefix}world" />
        <link name="${prefix}ktig_eef">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="2"/>
                <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                <mesh filename="package://mimic_support/meshes/visual/ktig_eef_v2.dae" scale="0.001 0.001 0.001"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                <mesh filename="package://mimic_support/meshes/collision/ktig_eef_v2.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>   
        </link>
        

        <joint name="${prefix}world-${prefix}gantry_joint" type="fixed">
            <parent link="${prefix}world" />
            <child link="${prefix}gantry_frame" />
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </joint>

        <joint name="${prefix}gantry-${prefix}kr16_joint" type="fixed">
            <parent link="${prefix}gantry_z" />
            <child link="${prefix}base_link" />
            <origin xyz="0.0 0.0 0.0" rpy="${pi} 0.0 0.0" />
        </joint>

        <joint name="${prefix}kr16-${prefix}ktig_joint" type="fixed">
            <parent link="${prefix}tool0" />
            <child link="${prefix}ktig_eef" />
            <origin xyz="0.0811 0.04116 0.4408" rpy="${radians(-179.61)} ${radians(-41.39)} ${radians(-153.95)}" />
            <!-- <origin xyz="0.121 0.05578 0.5307" rpy="${radians(0)} ${radians(-19.95)} ${radians(24.259)}" /> -->
        </joint>







    </robot>