<?xml version="1.0"?>
    <robot name="mimic_slave" xmlns:xacro="http://ros.org/wiki/xacro">
        <xacro:property name="prefix_master" value="master_" />
        <xacro:property name="prefix_slave" value="slave_" />

        <xacro:include filename="positioner_macro.xacro"/>
        <xacro:positioner prefix="${prefix_master}"/>
        <xacro:include filename="$(find kuka_kr20_support)/urdf/kr20_r1810_2_macro.xacro" />
        <xacro:kuka_kr20_r1810_2 prefix="${prefix_master}"/>

        <xacro:include filename="gantry_macro.xacro"/>
        <xacro:gantry prefix="${prefix_slave}"/>
        <xacro:include filename="$(find kuka_kr16_support)/urdf/kr16_2_macro.xacro" />
        <xacro:kuka_kr16_2 prefix="${prefix_slave}"/>

        <link name="${prefix_slave}ktig_eef">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="2"/>
                <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                <mesh filename="package://mimic_support/meshes/visual/ktig_eef_v2.dae" scale="0.001 0.001 0.001"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                <mesh filename="package://mimic_support/meshes/collision/ktig_eef_v2.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>   
        </link>

        <link name="world" />
        <link name="world_2" />
        <link name="${prefix_master}positioner_side" />

        <joint name="world-${prefix_slave}gantry_joint" type="fixed">
            <parent link="world" />
            <child link="${prefix_slave}gantry_frame" />
            <!-- <origin xyz="3.04787 1.209 -4.974558" rpy="0.0 ${radians(0.038)} ${radians(0.211)}" /> -->
            <origin xyz="3.05881 1.224 -4.98539" rpy="0.0 ${radians(0.038)} ${radians(0.211)}" />
        </joint>

        <joint name="${prefix_slave}gantry-${prefix_slave}kr16_joint" type="fixed">
            <parent link="${prefix_slave}gantry_z" />
            <child link="${prefix_slave}base_link" />
            <origin xyz="0.0 0.0 0.0" rpy="${pi} 0.0 0.0" />
        </joint>

        <joint name="${prefix_slave}kr16-${prefix_slave}ktig_joint" type="fixed">
            <parent link="${prefix_slave}tool0" />
            <child link="${prefix_slave}ktig_eef" />
            <!-- <origin xyz="0.083 0.04227 0.44111" rpy="${radians(1.82)} ${radians(-42.9)} ${radians(-156.2)}" /> -->
            <origin xyz="0.0811 0.04116 0.4408" rpy="${radians(-179.61)} ${radians(-41.39)} ${radians(-153.95)}" />
            <!-- <origin xyz="0.121 0.05578 0.5307" rpy="${radians(0)} ${radians(-19.95)} ${radians(24.259)}" /> -->
        </joint>





        <joint name="world-world_2" type="fixed">
            <parent link="world" />
            <child link="world_2" />
            <!-- <origin xyz="0.9183 0.721 -4.3402" rpy="0.0 0.0 0.0" /> -->
            <origin xyz="1.568554 0.413247 -4.406904" rpy="0.0 0.0 0.0" />
        </joint>
        <joint name="world_2-${prefix_master}kr20_joint" type="fixed">
            <parent link="world_2" />
            <child link="${prefix_master}base_link" />
            <origin xyz="0 0 0" rpy="0.0 0.0 ${radians(-50)}" />
        </joint>
        <!-- <joint name="world_2-${prefix_master}positioner_joint" type="fixed">
            <parent link="world_2" />
            <child link="${prefix_master}positioner_frame" />
            <origin xyz="1.1932095 0.8714369 0.3000" rpy="0.0 0.0 ${radians(0)}" />
        </joint> -->
        <joint name="world-${prefix_master}positioner_side_joint" type="fixed">
            <parent link="world" />
            <child link="${prefix_master}positioner_side" />
            <origin xyz="4.64146 2.53522 -8.77269" rpy="0.0 ${radians(0.13)} ${radians(-2.34)}" />
        </joint>
        <joint name="${prefix_master}positioner_side_joint-${prefix_master}positioner_joint" type="fixed">
            <parent link="${prefix_master}positioner_side" />
            <child link="${prefix_master}positioner_frame" />
            <!-- <origin xyz="0.0994209235 1.4742 0.3000" rpy="0.0 0.0 ${radians(0)}" /> -->
            <!-- <origin xyz="1.1932095 0.8714369 0.3000" rpy="0.0 0.0 ${radians(0)}" /> -->
            <origin xyz="0.48839 0.390 -0.195" rpy="0.0 0.0 ${radians(0)}" />
        </joint>






    </robot>
