<?xml version="1.0"?>
    <robot name="mimic_slave" xmlns:xacro="http://ros.org/wiki/xacro">
        <xacro:property name="prefix_master" value="master_" />
        <xacro:property name="prefix_slave" value="slave_" />

        <xacro:include filename="positioner_macro.xacro"/>
        <xacro:positioner prefix="${prefix_master}"/>
        <xacro:include filename="$(find kuka_kr20_support)/urdf/kr20_r1810_2_macro.xacro" />
        <xacro:kuka_kr20_r1810_2 prefix="${prefix_master}"/>

        <xacro:include filename="gantry_macro.xacro"/>
        <xacro:gantry prefix="${prefix_slave}"/>
        <xacro:include filename="$(find kuka_kr16_support)/urdf/kr16_2_macro.xacro" />
        <xacro:kuka_kr16_2 prefix="${prefix_slave}"/>


        <link name="world" />
        <link name="${prefix_master}positioner_side" />
        <link name="${prefix_slave}ktig_eef">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="2"/>
                <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                <mesh filename="package://mimic_support/meshes/visual/ktig_eef_v2.dae" scale="0.001 0.001 0.001"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                <mesh filename="package://mimic_support/meshes/collision/ktig_eef_v2.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>   
        </link>
        


        <joint name="world-${prefix_master}positioner_side_joint" type="fixed">
            <parent link="world" />
            <child link="${prefix_master}positioner_side" />
            <origin xyz="0 0 0" rpy="0 0 0" />
        </joint>
        <joint name="${prefix_master}positioner_side-${prefix_master}base_link" type="fixed">
            <parent link="${prefix_master}positioner_side" />
            <child link="${prefix_master}base_link" />
            <origin xyz="-0.7260644 -0.509355 -0.603812" rpy="9.5e-05 -0.00184 -0.90717" />
        </joint>
        <joint name="${prefix_master}positioner_side-${prefix_slave}gantry_frame" type="fixed">
            <parent link="${prefix_master}positioner_side" />
            <child link="${prefix_slave}gantry_frame" />
            <!-- <origin xyz="-1.1385215 -1.267 3.768157" rpy="0.00804 -0.00685 -0.00807" /> -->
            <origin xyz="-1.6454453024932296 -1.252142034197534 3.779355489407589" rpy="0.00804 -0.00685 -0.0080815" />
        </joint>

        <joint name="${prefix_master}positioner_side-${prefix_master}positioner_frame" type="fixed">
            <parent link="${prefix_master}positioner_side" />
            <child link="${prefix_master}positioner_frame" />
            <origin xyz="0.48839 0.390 -0.195" rpy="0.0 0.0 ${radians(0)}" />
        </joint>
        
        <joint name="${prefix_slave}gantry_frame-${prefix_slave}base_link" type="fixed">
            <parent link="${prefix_slave}gantry_z" />
            <child link="${prefix_slave}base_link" />
            <origin xyz="0 0 0" rpy="${pi} 0 0" />
        </joint>
        <joint name="${prefix_slave}tool0-${prefix_slave}ktig_eef" type="fixed">
            <parent link="${prefix_slave}tool0" />
            <child link="${prefix_slave}ktig_eef" />
            <!-- we should get these values from tool on Kuka pendant -->
            <!-- <origin xyz="0.0811 0.04116 0.4408" rpy="${radians(-179.61)} ${radians(-41.39)} ${radians(-153.95)}" /> -->
            <origin xyz="0.09142 0.04817 0.43987" rpy="${radians(-180.79)} ${radians(-48.46)} ${radians(-153.76)}" />

        </joint>










        <!-- <link name="test_positioner_side" /> -->
        <!-- <link name="test_slave_tool0" />
        <link name="test_slave_base_link" />
        <link name="test_slave_gantry_frame" />

        <joint name="world-test_positioner_side" type="fixed">
            <parent link="world" />
            <child link="test_positioner_side" />
            <origin xyz="0 0 0" rpy="0 0 0"  />
        </joint>
        <joint name="test_positioner_side-test_tool0" type="fixed">
            <parent link="test_positioner_side" />
            <child link="test_slave_tool0" />
            <origin xyz="-0.258976 0.4061174 0.6052054" rpy="${radians(-154.819)} ${radians(38.9068)} ${radians(-146.213)}"  />
        </joint>
        <joint name="test_slave_tool0-test_slave_base_link" type="fixed">
            <parent link="test_slave_tool0" />
            <child link="test_slave_base_link" />
            <origin xyz="-1.03932 0.11033 -1.253455" rpy="0.052877306944842856 -0.7816220773823008 -2.7196170270177986"  />
        </joint>
        <joint name="test_slave_base_link-test_slave_gantry_frame" type="fixed">
            <parent link="test_slave_base_link" />
            <child link="test_slave_gantry_frame" />
            <origin xyz="-1.10918 2.24999 -1.70100" rpy="0.0 0.0 0.0"  />
        </joint> -->

<!-- 
        positioner side to slave base link
        -0.5065105324997785, 1.0023177751521826, 2.1041316744423137

        positioner side to gantry_frame
        -0.50651 - 1.10918 + 0.011 = -1.60469
        1.002317 - 2.24999 + 0.015 = -1.232673
        2.104132 + 1.70100 + 0.011 = 3.816132 -->

    </robot>
