<?xml version="1.0"?>
    <robot name="mimic_slave" xmlns:xacro="http://ros.org/wiki/xacro">
        <xacro:property name="prefix" value="master_" />

        <xacro:include filename="positioner_macro.xacro"/>
        <xacro:positioner prefix="${prefix}"/>
        <xacro:include filename="$(find kuka_kr20_support)/urdf/kr20_r1810_2_macro.xacro" />
        <xacro:kuka_kr20_r1810_2 prefix="${prefix}"/>

        <link name="${prefix}world" />
        

        <joint name="${prefix}world-${prefix}kr20_joint" type="fixed">
            <parent link="${prefix}world" />
            <child link="${prefix}base_link" />
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </joint>
        
        <joint name="${prefix}world-${prefix}positioner_joint" type="fixed">
            <parent link="${prefix}world" />
            <child link="${prefix}positioner_frame" />
            <!-- <origin xyz="0.8714369 1.1932095 0.3000" rpy="0.0 0.0 ${radians(50)}" /> -->
            <!-- <origin xyz="1.1932095 0.8714369 0.3000" rpy="0.0 0.0 ${radians(50)}" /> -->
            <!-- <origin xyz="1.1932095 1.171426018 0.3000" rpy="0.0 0.0 ${radians(50)}" /> -->
            <origin xyz="0.0994209235 1.4742 0.3000" rpy="0.0 0.0 ${radians(50)}" />
        </joint>




    </robot>
