<?xml version="1.0"?>
    <robot name="mimic_slave" xmlns:xacro="http://ros.org/wiki/xacro">
        <xacro:property name="prefix" value="" />

        <xacro:include filename="gantry_macro.xacro"/>
        <xacro:gantry  prefix="${prefix}"/>
        <xacro:include filename="$(find kuka_kr16_support)/urdf/kr16_2_macro.xacro"/>
        <xacro:kuka_kr16_2  prefix="${prefix}"/>

        <link name="${prefix}world" />
        <link name="${prefix}ktig_eef">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="2"/>
                <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                <mesh filename="package://mimic_support/meshes/visual/ktig_eef_v2.dae" scale="0.001 0.001 0.001"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                <mesh filename="package://mimic_support/meshes/collision/ktig_eef_v2.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>   
        </link>
        

        <joint name="${prefix}world-${prefix}gantry_joint" type="fixed">
            <parent link="${prefix}world" />
            <child link="${prefix}gantry_frame" />
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </joint>

        <joint name="${prefix}gantry-${prefix}kr16_joint" type="fixed">
            <parent link="${prefix}gantry_z" />
            <child link="${prefix}base_link" />
            <origin xyz="0.0 0.0 0.0" rpy="${pi} 0.0 0.0" />
        </joint>

        <joint name="${prefix}kr16-${prefix}ktig_joint" type="fixed">
            <parent link="${prefix}tool0" />
            <child link="${prefix}ktig_eef" />
            <origin xyz="0.0811 0.04116 0.4408" rpy="${radians(-179.61)} ${radians(-41.39)} ${radians(-153.95)}" />
            <!-- <origin xyz="0.121 0.05578 0.5307" rpy="${radians(0)} ${radians(-19.95)} ${radians(24.259)}" /> -->
        </joint>




        <!-- <link name="${prefix}test_table_origin" />
        <link name="${prefix}test_tool0" />
        <link name="${prefix}test_base_link" />
        <link name="${prefix}test_gantryorigin" />

        <joint name="${prefix}world-${prefix}test_table_origin" type="fixed">
            <parent link="${prefix}world" />
            <child link="${prefix}test_table_origin" />
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </joint>
        <joint name="${prefix}test_table_origin-${prefix}test_tool0" type="fixed">
            <parent link="${prefix}test_table_origin" />
            <child link="${prefix}test_tool0" />
            <origin xyz="-0.258976 0.4061174 0.6052054" rpy="-2.7021 0.679052 -2.55189" />
        </joint>
        <joint name="${prefix}test_table_origin-${prefix}test_base_link" type="fixed">
            <parent link="${prefix}test_table_origin" />
            <child link="${prefix}test_base_link" />
            <origin xyz="0.01143279253690227 1.002313473110201 2.1041297531817538" rpy="-3.1335546594119497 -0.006849724079502045 -0.008069669919757078" />
        </joint>
        <joint name="${prefix}test_base_link-${prefix}test_gantryorigin" type="fixed">
            <parent link="${prefix}test_base_link" />
            <child link="${prefix}test_gantryorigin" />
            <origin xyz="-1.12018 2.26499 -1.69" rpy="-3.141592653589793 0.0 0.0" />
        </joint> -->
        














    </robot>